.fondoCuerpo{
    background-color: rgb(95, 101, 107);
    width: 90%;
    margin-left: 5%;
}

.cabecera{
    background-color: black;
    padding: 25px;
    text-align: center;
}

#tituloPrincipal{
    color: rgb(254, 254, 254);
    font-family: Verdana, Geneva, Tahoma;
    letter-spacing: 3px;
}

.otrosTitulos{
    color: black;
    font-family: Verdana;
}

.contenedor{
    background-color: rgb(249, 255, 255);
    padding: 20px;
    text-align: center;
    margin-top: -5px;
}

#lateral{
    max-width: 23%;
    padding: 0px 5px;
    float: right;
    font-size: 14px;
    color:rgb(11, 11, 11);
    border: 2px solid rgb(218, 225, 225);
    border-radius: 10px;
    margin-left: 15px;
}

#seccion{
    max-width: 70%;
    display: inline-block;
    margin-left: 5px;
    padding-top: 0px;
}

#articulo{
    color: rgb(69, 69, 77);
    padding: 5px 15px;
    text-align: justify;
    font-family: arial;
}

.pie{
    background-color: black;
    text-align: center;
    color: white;
    padding: 20px 0px;
}

.parrafo{
    font-style: italic;
    font-size: small;
}

.logo{
    width: 50px;
}

.imagen{
    text-align: center;
    max-width: 100%;
}


#anchoIframe{
    width: 100%;
}

span{
    color:grey;
}